.table-header {
  background-color: blue;
  color: white;
}

.mdc-button {
  margin: 2px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

/* styles.css or component CSS */
.mat-table-responsive {
  width: 100%;
  overflow-x: auto;
}
