<div class="wrapper">
    <!-- Desktop Sidebar -->
    <app-sidebar *ngIf="!isMobile" [collapsed]="isSidebarCollapsed" [isOverlay]="false">
    </app-sidebar>

    <!-- Mobile/Tablet Sidebar (always in DOM when active) -->
    <app-sidebar class="sidebar overlay" *ngIf="isMobile && isSidebarVisible" [ngClass]="{ show: showSidebarOverlay }"
        [isOverlay]="true" [show]="showSidebarOverlay" (closeSidebar)="toggleSidebar()">
    </app-sidebar>

    <!-- Backdrop -->
    <!-- <div class="sidebar-backdrop" *ngIf="isMobile && showSidebarOverlay" (click)="toggleSidebar()">
    </div> -->


    <!-- Main Content Area -->
    <div class="main-area">
        <app-header (toggleSidebar)="toggleSidebar()"></app-header>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>